@font-face {
  font-family: "Flood Std";
  src: url("./fonts/floodstd.otf") format("opentype");
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
header {
  margin: 45px 10%;
}
.title-section {
  display: flex;
  justify-content: space-between;
}
.header-title {
  display: flex;
  align-items: center;
}
.header-title h3 {
  color: #354463;
  font-size: 25px;
  line-height: 1.3;
}
.pages {
  display: flex;
  flex-direction: column;
}
.pages a {
  padding: 6px 0;
}
.header-btn {
  margin-top: 30px;
}
button {
  font-size: 24px;
  font-weight: 900;
  padding: 10px 20px;
  width: 100%;
  color: #354463;
  background-color: #c1f7d5;
  border: none;
  border-radius: 50px;
}
.stop-climate-container {
  background-image: url("./about-us/annie-spratt-427339-unsplash.png");
  background-repeat: no-repeat;
  background-position-x: 36%;
  background-size: cover;
  padding: 10%;
}
.stop-title {
  /* width: 215px; */
  display: flex;
  align-items: center;
}
h2 {
  font-weight: 400;
  font-size: 50px;
  color: white;
  font-family: "Flood Std";
  width: 215px;
}
.stop-content {
  background-color: white;
  margin-top: 11rem;
  padding: 3rem 3rem;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.stop-content h3 {
  font-size: 25px;
  line-height: 1.5;
  color: #354463;
}
.tag {
  color: white;
  background-color: #354463;
  height: 3rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1.5rem;
}
.mission-container {
  background-color: #354463;
  padding: 10%;
}
.mission-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mission-tag {
  position: unset;
  color: #354463;
  background-color: white;
}
.mission-title {
  margin: 40px 0;
}
.mission-title h3 {
  font-size: 30px;
  color: white;
}
.mission-card p {
  color: white;
}
.mission-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mission-card {
  color: white;
  width: 50%;
  padding: 1.4rem 1.6rem 1.4rem 0;
  box-sizing: border-box;
}
.mission-card img {
  height: 45px;
  margin: 2px 0;
}
.mission-card h3 {
  font-size: 16px;
  margin: 7px 0;
}
.mission-card p {
  font-size: 0.9rem;
  color: rgb(216, 212, 212);
  line-height: 1.5;
  margin: 0.9rem 0;
}
.team-container {
  background-color: white;
  padding: 10% 10% 5% 10%;
}
.team-head {
  margin-bottom: 2rem;
}
.team-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-title .tag {
  position: unset;
}
.team-title-info {
  text-align: center;
  margin: 1.5rem 0;
}
.team-title-info h3 {
  color: #354463;
  font-size: 30px;
}
.team-description {
  text-align: center;
  color: rgb(117, 114, 114);
  line-height: 1.5;
}
.team-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team-card {
  width: 45%;
  margin-bottom: 1.5rem;
}
.team-profile {
  height: 67%;
}
.team-profile img {
  width: 100%;
  height: 100%;
}
.team-name p {
  color: white;
  background-color: #354463;
  padding: 8% 7% 8% 10%;
  font-size: 15px;
  line-height: 1.5;
}
.impact-container {
  padding: 10% 10% 5% 10%;
  background-image: url("./about-us/Impact\ Background.png");
  background-repeat: no-repeat;
  background-color: #354463;
  background-position: 62%;
  background-size: cover;
}
.impact-tag {
  color: #354463;
  background-color: white;
  position: relative;
}
.impact-head {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.impact-title {
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.impact-title h3 {
  font-size: 30px;
}
.impact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding-bottom: 50px;
}
.impact-details h3 {
  font-size: 20px;
  width: 234px;
  text-align: center;
}
.action-container {
  padding: 10% 10% 5% 10%;
  background-color: #354463;
}
.action-head h2 {
  text-align: center;
  margin: 0;
  padding: 0 16px;
  width: auto;
}
.action-card {
  margin: 30px 40px 30px 0;
  width: 19.5rem;
  height: 37rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-card-img {
  overflow: hidden;
  height: 98%;
  width: 19.5rem;
}
.action-card-img img {
  width: 100%;
  overflow: hidden;
}
.action-card-description {
  background-color: white;
  padding: 25px 20px;
  width: 87%;
}
.action-card-description h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #354463;
  margin: 8px 0;
  font-size: 23px;
  text-align: center;
}
.action-card-description p {
  color: rgb(110, 107, 107);
  margin: 30px 0;
  text-align: center;
  line-height: 1.5;
}
.read-btn {
  display: flex;
  justify-content: center;
  align-content: center;
}
.btn {
  width: 170px;
}
.action-card-tag {
  width: 9rem;
  height: 7rem;
  color: #354463;
  background-color: white;
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 1.1rem;
}
.action-content {
  display: flex;
  overflow-x: auto;
}
.action-content::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.toggle-action-card {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
.toggle-action-card h3 {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: white;
  margin: 15px 6px;
}
.subscribe-container {
  background-color: #c1f7d5;
  display: flex;
  flex-direction: column;
  padding: 3rem 10% 3rem 10%;
}
.subscribe-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.subscribe-info h3 {
  color: #354463;
  font-size: 30px;
  margin-bottom: 1rem;
}
.mail-input {
  width: 60%;
}
#emails {
  padding: 15px 0 15px 22px;
  width: 100%;
  font-size: 13px;
  border: none;
  border-radius: 30px;
}
.subscribe-button {
  width: 30%;
}
.subs {
  font-size: 15px;
  color: #c1f7d5;
  background-color: #354463;
  border-radius: 30px;
  padding: 15px;
  width: 100%;
}

.item-1 {
  grid-area: item-1;
}
.item-2 {
  grid-area: item-2;
}
.item-3 {
  grid-area: item-3;
}
.item-4 {
  grid-area: item-4;
}
.item-5 {
  grid-area: item-5;
}

.footer {
  display: grid;
  grid-template-areas:
    "item-1 item-2"
    "item-3 item-4"
    "item-5 item-5";
  gap: 1rem;
  /* padding: 2rem; */
  padding: 3rem 10% 3rem 10%;
}
.list a {
  font-family: Arial, Helvetica, sans-serif;
  color: #354463;
  font-weight: 200;
}
.footer > div {
  padding: 2rem 0;
  line-height: 1.5;
}
.footer .item-1 {
  margin-left: 15px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2;
  color: #354463;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .item-2 {
  text-align: left;
  font-size: 1rem;
  color: #354463;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .item-3 {
  padding-left: 20px;
}
.footer .list {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}
.list a:link {
  color: black;
  text-align: left;
  line-height: 1.5rem;
  text-decoration: underline;
}
.item-2 p {
  padding-left: 0;
}
.item-5 {
  padding-top: 0;
  display: flex;
  justify-content: flex-end;
}
.item-5 h2 {
  font-weight: 400;
  color: #354463;
  margin: 0 0 0 20%;
  padding: 0 1rem;
  font-family: "Flood Std";
  text-align: right;
  font-size: 3rem;
  color: black;
  height: 13rem;
  width: 15rem;
}

/* @media only screen and (min-width: 767px) {
  header {
    display: grid;
    grid-template-areas:
      "title donate"
      "title donate"
      "pages donate";
    padding: 0 20px;
    margin-top: 20px;
  }
  .pages {
    margin-top: 11px;
    flex-direction: row;
    justify-content: space-between;
  }
  .pages a {
    font-size: 21px;
  }
  .page-end {
    display: block;
  }
  button {
    width: 65%;
    height: 50%;
  }
  .donate {
    margin-top: 0;
    justify-content: flex-end;
    align-items: center;
  }
  .title {
    margin-left: 0;
  }
} */

@media only screen and (min-width: 1024px) {
  header {
    margin: 30px 15%;
    display: flex;
    justify-content: space-between;
  }
  .pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-btn {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .header-btn button {
    font-size: 1rem;
  }
  .title-section {
    width: 75%;
  }
  .pages {
    width: 60%;
  }
  .donate-btn {
    margin-top: 0;
    align-self: center;
  }
  .stop-title {
    width: 200px;
  }
  .tag {
    font-size: 0.8rem;
    height: 2rem;
    width: 8rem;
    top: -1rem;
    left: 3rem;
  }
  .stop-climate-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 3rem 15%;
  }
  .stop-content {
    background-color: white;
    margin-top: 0%;
    height: 16rem;
    width: 28rem;
    text-align: left;
    position: relative;
    top: 5.5rem;
  }
  .stop-content h3 {
    font-size: 21px;
    line-height: 1.5;
  }
  .mission-container {
    padding: 6rem 15% 4rem 15%;
  }
  .mission-head {
    align-items: flex-start;
    text-align: left;
  }
  .mission-title h3 {
    font-size: 33px;
  }
  .mission-box {
    margin-top: 70px;
  }
  .mission-card {
    width: 25%;
    padding: 1.4rem 2rem 1.4rem 0;
  }
  .mission-card h3 {
    font-size: 21px;
  }
  .team-container {
    padding: 7rem 15% 2rem 15%;
  }
  .team-head {
    width: 90%;
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .team-title {
    text-align: left;
    align-items: flex-start;
    width: 25rem;
  }
  .team-title-info {
    font-size: 1.5rem;
    text-align: left;
  }
  .team-description {
    align-self: center;
    width: 40%;
    text-align: left;
    line-height: 1.5;
  }
  .team-box {
    margin-top: 50px;
  }
  .team-card {
    width: 28%;
    margin: 0 2.39rem 0.6rem 0;
    box-sizing: border-box;
  }
  .team-profile {
    position: relative;
  }
  .team-profile img {
    height: 125%;
    width: 100%;
  }
  .small-work {
    padding-top: 17px;
  }
  .small-book {
    padding-top: 7px;
  }
  .team-name p {
    position: relative;
    top: 27px;
    left: 20px;
    padding: 4% 0% 4% 7%;
    font-size: 13px;
  }
  .impact-container {
    padding: 7rem 15%;
  }
  .impact-head {
    margin-top: 0;
  }
  .immpact-content {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .impact-details {
    box-sizing: border-box;
    padding-bottom: 0;
    width: 25%;
  }
  .impact-details h3 {
    font-size: 17px;
    width: 165px;
  }
  .impact-tag {
    position: unset;
  }
  .impact-title h3 {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    padding: 0px 5rem;
    margin: 1rem 0;
  }
  .action-container {
    padding: 7rem 15% 1rem 15%;
  }
  .action-head h2 {
    text-align: left;
    padding-left: 2rem;
    padding-right: 5rem;
    margin-bottom: 3rem;
  }
  .action-card {
    width: 22.5rem;
  }
  .action-card-img {
    width: 22.5rem;
  }
  .action-card-tag {
    position: absolute;
    text-align: center;
    top: -16px;
    left: 45px;
  }
  .action-card-description {
    width: 20rem;
  }
  .action-card-description h3,
  .action-card-description p {
    text-align: left;
    margin: 17px 15px;
  }
  .action-card-description .read-btn {
    display: flex;
    justify-content: flex-start;
  }
  .read-btn .donate {
    margin-left: 1rem;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 44%;
  }
  .read-btn button {
    font-size: 17px;
    width: 93%;
  }
  .subscribe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 15% 3rem 15%;
  }
  .subscribe-section {
    width: 40%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  .subscribe-info {
    width: 60%;
    padding-right: 20px;
    align-items: center;
    margin: 0;
  }
  .subscribe-info h3 {
    font-size: 21px;
    margin-bottom: 0;
  }
  .mail-input {
    font-size: 1.6rem;
  }

  #emails {
    padding: 12px 0 12px 12px;
  }
  .subscribe-button .subs {
    padding: 12px 5px;
  }
  .subs {
    width: 100%;
  }
  .footer {
    display: grid;
    grid-template-areas: "item-1 item-2 item-3 item-4 item-5";
    gap: 0;
    padding: 4rem 15%;
  }
  .footer > div {
    /* width: 120px; */
  }
  .item-5 h2 {
    color: #354463;
    margin: 0;
    padding: 0;
    width: 12rem;
    font-size: 2.1rem;
  }
  .footer .item-1 {
    margin-left: 0;
    margin-top: 7px;
    margin-right: 49px;
  }
  .footer .item-5 {
    margin-left: 0px;
    width: auto;
  }
  .footer .item-3 {
    padding-left: 18px;
  }
  .footer .item-4 {
    padding-left: 18px;
  }
  .list a:link {
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
  }
  .list p {
    border-bottom: 1px solid black;
    font-size: 13px;
    line-height: 2.5;
    margin-bottom: 10px;
  }
  .list p1 {
    font-size: 12px;
  }
}
